<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }}</title>
</head>

<body>
    <h1>Nerver TODO</h1>
    <div class="row">
        <div class="col-md-6" id="full-tasks">
            <div>
                <input type="text" class="full-task task content" placeholder="Task Content">
                <input type="text" class="full-task tag id" placeholder="Tag IDs">
                <br>
                <button class="full-task add">新增任务</button>
            </div>
            <div>
                <input type="text" class="full-task task id" placeholder="Task ID">
                <br>
                <button class="full-task del">删除任务</button>
            </div>
            <div>
                <input type="text" class="full-task task id" placeholder="Task ID">
                <input type="text" class="full-task task content" placeholder="Task Content">
                <input type="text" class="full-task tag id" placeholder="Tag IDs">
                <br>
                <button class="full-task upd">更新任务</button>
            </div>
            <div>
                <input type="text" class="full-task task content" placeholder="Task Content">
                <br>
                <button class="full-task rtr">查询任务</button>
            </div>
            <div>
                <input type="text" class="full-task tag id" placeholder="Tag ID">
                <br>
                <button class="full-task ftr">筛选任务</button>
            </div>
            <pre></pre>
        </div>
        <div class="col-md-6" id="tags">
            <div>
                <input type="text" class="tag add content" placeholder="Tag Content">
                <input type="text" class="tag add desc" placeholder="Tag Desc">
                <input type="text" class="tag add color" placeholder="Tag Color">
                <br>
                <button class="tag add">新增标签</button>
            </div>
            <div>
                <input type="text" class="tag del id" placeholder="Tag ID">
                <br>
                <button class="tag del">删除标签</button>
            </div>
            <div>
                <input type="text" class="tag upd id" placeholder="Tag ID">
                <input type="text" class="tag upd content" placeholder="Tag Content">
                <input type="text" class="tag upd desc" placeholder="Tag Desc">
                <input type="text" class="tag add color" placeholder="Tag Color">
                <br>
                <button class="tag upd">修改标签</button>
            </div>
            <pre></pre>
        </div>
    </div>

</body>

</html>

<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="/static/css/bootstrap.css">

<!-- <link rel="stylesheet" href="/static/css/highlight-default.css">
<script src="/static/js/highlight-pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script> -->

<link rel="stylesheet" href="/static/css/json.css">
<script src="/static/js/json.js"></script>
<script src="/static/js/ui.js"></script>